.App {
  text-align: center;
}
.fdc_form{
  padding: 5px 20vh;
}
.header{
  color: blue;
  line-height:0.5;
}
.sub_header{
  max-width: 500px;
  margin: auto;
}
.text_area{
  width: 100%;
}
.option_buttons{
  margin: 10px;
  height: 20px;
}
.option_section{
  display: flex;
  align-items: center;
}
.checkbox_buttons{
  margin: 10px 5px 0px;
}
.button{
  background-color:skyblue;
  border: 1px solid skyblue;
  border-radius: 5px;
}